

.container1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.gamelistFullCont{
    background-color: #0F0F0E;
    background-image: url('../../../public/images/loginBG3.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    position: fixed;
    top:0;
    min-height: 100vh;
    min-width: 100%;
    opacity: 0.5;


}
.card1{
    max-width: 22.9em;
    --bs-card-bg: none !important;
   
}

#store-imgSlider-Resp  h3 {

    margin-left: 15em;
}
#store-imgSlider-Resp  p {

    margin-left: 27em;
}
#store-imgSlider-Resp  {

  padding-top:5em;
}
.loadMoreBtnGames{
    color:white;
    z-index: 1140;
}

.card-group1{
    border: 2px solid #f7e164;
    border-radius: 10px;

}
 .overlay2{
    position:absolute;
    top:0;right:0;left:0;bottom:0;
    background-color:rgba(0,0,0,0.9);
    z-index:0;
    min-height: 100vh;
  }
  
.card-text1{
    display: block;
    max-width: 98%;
    white-space: nowrap;
    overflow: hidden ;
    text-overflow: ellipsis;
    color: #F0EFEB;
    border-top: 1px dashed rgb(39, 39, 39);
}

.card-text1 a{
text-decoration: none;
color: white;
}
.card-text1 a:hover{
text-decoration: none;
color: rgb(245, 193, 22);
}

.moreInfoBtn{
  
    background: rgba( 22, 19, 19, 0.65 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 18px );
-webkit-backdrop-filter: blur( 18px );
border-radius: 10px;

    max-width: 8em;
    padding: 7px 10px;
    border-radius: 5px;
    
}

.pageNumbers{
    display: flex;
}
.pageNumbers li{
    padding: 10px;
    border:1px solid white;
    cursor: pointer;
}
.pageNumbers li.active{
    background-color: white;
    color: black;
}
.pageNumbers li button{
    background-color: transparent;
    color: white;
    border:none;
    font-size: 1.5rem;
    cursor: pointer;
}
.pageNumbers li button:hover{
   background-color: white;
   color: black;
}
.pageNumbers li button:focus{
   outline: none;;
}
.activeGamePage{
    background-color: red;
}
.moreInfoBtn a{
   text-decoration:  none;
   color: white;
}
.moreInfoBtn a:hover{
   text-decoration:  none;
   color: rgb(253, 230, 125);
}
#button-4 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }


  
  #button-4 a {
    position: relative;
    transition: all .45s ease-Out;
  }
  
  #underline {
    width: 100%;
    height: 2.5px;
    margin-top: 15px;
    align-self: flex-end;
    left: -200px;
    background:linear-gradient(45deg, #f79f2d, #ff7300, #fffb00,   #f79f2d);

    position: absolute;
    transition: all .3s ease-Out;
    bottom: 0;
  }
  
  #button-4:hover #underline {
    left: 0;
  }
  

.card-body1{

    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );

    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}
.card-title1{
    color: #F0EFEB;
    display: block;
    max-width: 98%;
    white-space: nowrap;
    overflow: hidden ;
    text-overflow: ellipsis;
    
}
.card-footer1{
    display: block;
    max-width: 100%;

    white-space: nowrap;
    overflow: hidden ;
    text-overflow: ellipsis;
    background-color: #f7da32 !important;
    color: white;
}


@media all and (max-width:1060px) {
    #store-imgSlider-Resp{
        max-width: 44em;
    padding-top: 7em;
    }
}
@media all and (max-width:975px) {
    
    /* .moreInfoBtn{
        padding: 0px;
      
    } */
    
    .card-title1{
        font-size: 1rem !important;
    }
}

@media all and (max-width:765px) {
    #store-imgSlider-Resp{
        max-width: 34em !important;
    padding-top: 5em;
    }
    #gameListResponsiveCard{
        width: 50%;
    }
}
@media all and (max-width:540px) {
    #store-imgSlider-Resp{
        max-width: 20em !important;
    padding-top: 7em;
  
    }
    #gameListResponsiveCard{
        width: 90%;
    }
    .card-group1{
        max-height: 28em;
    }
}