:root{
    --color-red: #ecc518;
  --color-purple: #7a18ec;
  --color-white: #fff;
  --color-black-1: #111;
  --color-black-2: #222;
  --color-black-3: #444;
  --speed-normal: 0.5s;
  --speed-fast: 0.8s;
}

.statusGreen{
    font-weight: bold;
    color: rgb(73, 218, 73);
}
.statusRed{
    color: rgb(235, 54, 48);
    font-weight: bold;
}
.gameInfoContainer{
    display: flex;
    flex-direction: row;
    padding-top: 4em;
 
    background-color: black;
    

}
.gameInfoBGImageCont{

    background-image: url('../../../public/images/loginBG3.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    position: fixed;
    top:0;
    min-height: 100vh;
    min-width: 100%;
    opacity: 0.5;
    z-index: 0;
}
.gameInfoCard{
    max-height: 30em;
    width: 20em;
    margin-top: 1.2em;
 
    --bs-card-bg: none !important;
   

    
}
.cardInfo{
    background: rgba( 3, 3, 3, 0.55 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 16px );
    -webkit-backdrop-filter: blur( 16px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: white;
   
}
#card-info-group1{
    border: 2px solid #f3b643;
    border-radius: 10px;

    margin-left: 2em;

   
}
#card-info-footerSide{

    background: rgb(249 233 8 / 86%);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 16px );
    -webkit-backdrop-filter: blur( 16px );
    color: black;
}
.card-info-text1{
    display: block;
    max-width: 98%;
    white-space: nowrap;
    overflow: hidden ;
    text-overflow: ellipsis;
    color: #F0EFEB;
    border-top: 1px dashed rgb(39, 39, 39);
}

.gameinfoLineSep{

    border: 1px solid rgb(214, 214, 214);
    margin-left: 10px;
    margin-top: 1.2em;
    
}
#list-info-item{
    background-color: transparent ;
    color:white ;
    border-bottom: solid 1px rgb(88, 74, 8);
}

#card-info-bodyAbout{
background: rgba( 3, 3, 3, 0.55 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 16px );
-webkit-backdrop-filter: blur( 16px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
--bs-card-bg:transparent ;
color: #e7e7e7;
margin-bottom: 1em;
}
#card-info-list-group-req{
    background: rgba( 3, 3, 3, 0.55 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 16px );
-webkit-backdrop-filter: blur( 16px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
--bs-card-bg:transparent ;
color: #e7e7e7;
margin-bottom: 1em;

}
#card-info-list-item-req{
    background: rgba( 3, 3, 3, 0.55 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );

    --bs-card-bg:transparent ;
    color: #e7e7e7;

    display: flex;

}
#card-info-list-item-reqBtn{
    background: rgba( 3, 3, 3, 0.55 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );

    --bs-card-bg:transparent ;
    color: #e7e7e7;


}
#cpu,#ram,#gpu{
     color: black;

}


#card-info-officialWeb{
    position: relative;

    margin: 20px;
    padding: 0.5em 1em;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-white);
    transition: var(--speed-normal);
    border: 1px solid var(--color-red);
}

#card-info-officialWeb:hover {
    border: 1px solid transparent;
    background: red url('../../../public/images/pixel2.png'); 
    transition-delay: 0.8s;
    background-size: 180px;
    animation: animate var(--speed-fast) steps(8) forwards;
    color: black;
}

@keyframes animate {
    0% {
      background-position-y: 0;
    }
    100% {
      background-position-y: -480px;
    }
  }



#about-info-GameH5{
    background-color: #d7cb0a;
    padding: 0.4em;

    color: black;
    text-align: center;
}
.checkGameLineSep{
    border: 1px solid rgb(214, 214, 214);
    margin-top: 1em;
}
.gameInfoTitle{
    font-size: 4.5em;
    font-weight: bold;
    z-index: 30;
    text-align: center;
    color: white;
    position: relative;
}
.gameInfoTitleError{
    z-index: 40;
    color: white;
}
.gameInfoDesc{
    max-width: 40em;
}
.gameInfoSlider{
    border: 3px solid black;
    display: block !important;
}


@media all and (max-width:1150px) {
    #card-info-group1{
        max-width: 14em;
    max-height: 26em;
    }
    .carouselGameInfoSlider{
        max-width: 35em;
        margin-left: 0;
    }
    #card-info-bodyAbout{
        max-width: 36em;
    }
    #card-info-list-group-req{
        max-width: 36em;
    }
    #card-info-list-item-req{
        display: block;
        max-width: 36em;
    }
    #gameInfo-checkGame-Group{
        max-width: 36em;
    }
}
@media all and (max-width:768px) {
    #card-info-group1{
        max-width: 14em;
    max-height: 26em;
    }
    .gameInfoTitle{
        font-size: 3.5rem;
    }
    .carouselGameInfoSlider{
        max-width: 25em;
        margin-left: 0;
    }
    #card-info-bodyAbout{
        max-width: 26em;
    }
    #card-info-list-group-req{
        max-width: 26em;
    }
    #card-info-list-item-req{
        display: block;
        max-width: 26em;
    }
    #card-info-list-item-reqBtn{
        
        max-width: 26em;
    }
    #gameInfo-checkGame-Group{
        max-width: 36em;
    }
    
}
@media all and (max-width:668px) {
    #card-info-group1{
        max-width: 14em;
        max-height: 26em;
    }
    .gameInfoTitle{
        font-size: 3.5rem;
    }
    .carouselGameInfoSlider{
        max-width: 20em;
        margin-left: 0;
    }
    #card-info-bodyAbout{
        max-width: 20em;
    }
    #card-info-list-group-req{
        max-width: 20em;
    }
    #card-info-list-item-req{
        display: block;
        max-width: 20em;
    }
    #card-info-list-item-reqBtn{
        
        max-width: 20em;
    }
    #gameInfo-checkGame-Group{
        max-width: 36em;
    }
    
}
@media all and (max-width:558px) {
    .gameInfoContainer{
        display: block;
    }
    #card-info-group1{
        max-width: 14em;
        max-height: 26em;
        margin-top: 3em;
    }
    .gameInfoTitle{
        font-size: 3.5rem;
    }
    .carouselGameInfoSlider{
        max-width: 20em;
        margin-left: 0;
    }
    #gameInfo-SliderText{
        display: none;
        color: red;
    }
    #card-info-bodyAbout{
        max-width: 20em;
    }
    #card-info-list-group-req{
        max-width: 20em;
    }
    #card-info-list-item-req{
        display: block;
        max-width: 20em;
    }
    #card-info-list-item-reqBtn{
        
        max-width: 20em;
    }
    #gameInfo-checkGame-Group{
        max-width: 36em;
    }
    
}


