.paginations{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5px;
    margin-bottom: 0;
    z-index: 170;
    color: white;

 
    
}
.page-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.8rem; 

    cursor: pointer;
    z-index: 30;
}
.active3{
    color: black;
    background-color: #f7e164;
    padding: 0 10px;
    border-radius: 50%;
    text-decoration: none;
  
}
.active3:hover{
    color: rgb(0, 0, 0);
  
}
.page-item:hover{

    color:  #f7e164;
}

.page-num{
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
}

.paginationButtonNext{
    color: white;
    z-index: 30;
}
.paginationButtonNext:hover{
    color: #f7e164;
    z-index: 30;

}
.paginationButtonPrev{
    color: white;
    z-index: 30;
}
.paginationButtonPrev:hover{
    color: #f7e164;
    z-index: 30;
}