.storeBGAll{
    background-color: black;
    padding-right: 5em;
}
.friendlist_store_display{
    display: flex;
   
    background-color: black;
}
.ErrorMessageStore{
    z-index: 40;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}